*{
  box-sizing: border-box;
}

@import "abstracts/variables";
@import "abstracts/fonts";
@import "abstracts/mixinss";


body{
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1296px;
    }
}

.wh-100{
  width:100%;
  height: 100%;
}


@import "components/banner";
@import "components/bigCards";
@import "components/blogs";
@import "components/corousel";
@import "components/faq";
@import "components/form";
@import "components/header";
@import "components/hero";
@import "components/map";
@import "components/partnership";
@import "components/price";
@import "components/services";
@import "components/calling";
@import "components/footer";
@import "components/timeline";
@import "components/main-card";
@import "components/image-text";
@import "pages/about"

