.banner {
    background-color: $color-primary;
    margin-bottom: 10px;

    .container {

        @media screen and (max-width:991px) {
            padding: 0;
        }

        @media screen and (max-width:767px) {
            padding-top: 20px;
        }

        .row {
            max-width: 1149px;
            margin: auto;

            @media screen and (max-width:991px) {
                max-width: 100%;

                .col-md-4 {
                    padding: 8px;
                }

                .col-12 {
                    overflow: hidden;
                }
            }
        }

        .gx {
            column-gap: 32px;
        }

        .card {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 10px;
            background-color: $white-color;
            border-radius: 10px;
            margin-top: -59px;
            width: 350px;

            @media screen and (max-width:1200px) {

                width: auto;
                height: 155px;
                padding: 15px;
            }

            @media screen and (max-width:991px) {

                width: 100%;
                height: 165px;
                padding: 10px;
            }

            @media screen and (max-width:767px) {

                max-width: 300px;
                width: 100%;
                height: unset;
                margin: 0px auto;
                padding: 15px;
            }

            h2 {
                font-family: "Inter-bold";
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0%;
                color: $color-primary;
                margin: 0;

                @media screen and (max-width:991px) {
                    font-size: 18px;
                }
            }

            p {
                font-family: "Inter-medium";
                color: $text-color;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.25;
                letter-spacing: 0%;
                margin: 0;

                @media screen and (max-width:1200px) {
                    line-height: 1;
                }
            }
        }

        .banner__slider {
            max-width: 952px;
            padding-top: 86px;
            padding-bottom: 59px;

            @media screen and (max-width:991px) {
                padding-top: 50px;
                padding-bottom: 50px;
            }
        }
    }

}