.big-cards {
    padding-top: 70px;

    .big-cards__top {
        padding-bottom: 46px;
        padding-left: 0;
        padding-right: 0;

        div:first-child {
            max-width: 871px;
            width: 100%;
        }

        h2 {
            font-family: "Inter-bold";
            color: $text-color;
            font-size: 32px;
            line-height: 100%;
            letter-spacing: 0%;
            margin-bottom: 10px;
        }

        p {
            margin: 0;
            font-family: "Inter-medium";
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            color: $text-color;
        }

        .arrow-icons {
            margin-bottom: 20px;
            cursor: pointer;
        }
    }

    .big-cards__slider {
      margin-left: -24px;
        .card-1 {
            background-image: url("../../images/big-card-img-3.png");
            background-repeat: no-repeat;
            background-position: bottom right;
            margin-bottom: 70px;
        }

        .card-2 {
            background-image: url("../../images/big-card-img-2.png");
            background-repeat: no-repeat;
            background-position: bottom right;
        }

        .card-3 {
            background-image: url("../../images/big-card-img-1.png");
            background-repeat: no-repeat;
            background-position: bottom right;
        }

        .big-cards__item {
            max-width: 400px;
            width: 100%;
            padding: 27px 20px;
            border-radius: 15.34px;
            box-shadow: 0px 7.67px 16.3px 0px #003B6B1A, 0px 29.72px 29.72px 0px #003B6B17, 0px 52.73px 40.27px 0px #003B6B0D, 0px 95.87px 46.98px 0px #003B6B03, 0px 95.87px 76.7px 0px #003B6B08;

            h2 {
                margin-bottom: 10px;
                font-family: "Inter-bold";
                font-size: 32px;
                line-height: 100%;
                letter-spacing: 0%;
                color: $text-color;
            }

            p {
                font-family: "Inter-medium";
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                vertical-align: middle;
                margin-bottom: 24px;
            }

            a {
                margin-top: 57px;
            }
            ul{
                padding-left: 20px;
            }
        }
    }
}