.calling {
    padding: 117px 98px;
    background: url("../../images/calling-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 70.61px auto;
    max-width: 1296px;
    border-radius: 22.99px;
    box-shadow: 0px 3.83px 42.14px 0px #00000012;
    position: relative;

    @media screen and (max-width:1399px) {
        max-width: 1140px;
    }

    @media screen and (max-width:1199px) {
        max-width: 960px;
        padding: 90px 60px;
    }

    @media screen and (max-width:991px) {
        max-width: 720px;
        padding: 80px 40px;
    }

    @media screen and (max-width:767px) {
        max-width: 540px;
        padding: 70px 24px;
    }
    @media screen and (max-width:576px){
        margin: 0px 15px;
        .container{
            padding: 0;
        }
    }

    &::before {
        position: absolute;
        top: 28.26px;
        left: 30.4px;
        content: "";
        background-image: url("../../images/small-person-1.png");
        background-position: center;
        background-size: cover;
        width: 42.37px;
        height: 42.37px;

        @media screen and (max-width:767px) {
            top: 9.26px;
            left: 15.4px;
        }

    }

    &::after {
        position: absolute;
        bottom: 0.66px;
        right: 133.76px;
        content: "";
        background-image: url("../../images/small-person-2.png");
        background-position: center;
        background-size: cover;
        width: 42.37px;
        height: 42.37px;

        @media screen and (max-width:991px) {
            bottom: 15.66px;
            right: 73.76px;

        }
    }

    .calling__section {
        column-gap: 62.76px;
        max-width: 1099.87px;
        margin: 0px auto;

        @media screen and (max-width:991px) {
            column-gap: 40px;
        }

        @media screen and (max-width:767px) {
            flex-direction: column;
            row-gap: 45px;
        }

        .square {
            position: absolute;
            bottom: 37.94px;
            left: 131.44px;

            @media screen and (max-width:991px) {
                bottom: 25.94px;
                left: 118.44px;
            }

        }

        .calling__action {
            max-width: 477.57px;
            width: 100%;
            row-gap: 39.23px;

            @media screen and (max-width:991px) {
                row-gap: 24.23px;
            }


            h2 {
                font-family: "Inter-semibold";
                font-size: 23.54px;
                line-height: 31.38px;
                letter-spacing: 0%;
                text-transform: capitalize;

                @media screen and (max-width:991px) {
                    font-size: 21px;
                }

            }

            .custom-btn {
                background: $color-primary;
                border-radius: 34px;
                padding: 9.53px 23.81px;
                width: fit-content;

                @media screen and (max-width:991px) {
                    padding: 6.53px 12.81px;
                }

                button {
                    color: white;
                }
            }
        }

        .calling__content {
            max-width: 559.54px;
            width: 100%;

            h4 {
                font-family: "Inter-bold";
                font-size: 17.65px;
                line-height: 25.5px;
                letter-spacing: 0px;
                color: $text-color;
            }

            p {
                font-family: "Inter";
                font-size: 15.69px;
                line-height: 23.54px;
                letter-spacing: 0px;
                color: $text-color;
            }
        }
    }
}