.timeline {
    margin-bottom: 10px;

    @media screen and (max-width:1199px) {
        .col-md-4,
        .col-md-2,
        .col-md-6 {
            padding: 0;
        }
    }

    .timeline__call {
        gap: 32px;

        h2 {
            font-family: $font-inter-bold;
            font-size: 32px;
            line-height: 42px;
            letter-spacing: 0px;
            color: $text-color;
        }


        .custom-btn {
            background: $color-primary;
            border-radius: 34px;
            padding: 10px 0px;
            justify-content: center;
            max-width: 182px;

            button {
                color: white;
                font-family: $font-inter-medium;
                font-size: 19.43px;
                line-height: 28.17px;
                letter-spacing: 0%;
                text-align: center;

            }
        }

    }

    .timeline-line-wrapper {
        position: relative;
        width: 4px;
        height: 454.58px;
        margin: 0 auto;

        .default-line {
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background-color: #e0e0e0;
        }

        .draw-line {
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 0;
            background-color: #000;
            transition: height 0.3s ease;
        }

        .timeline-dot {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #fff;
            border: 3px solid #000;
            z-index: 2;
        }

        .top-dot {
            top: 0;
            background-color: #000;
        }

        .bottom-dot {
            bottom: 0;
            background-color: #000;
        }
    }

    .timeline__cards-scroll {
        max-height: 700px;
        overflow-y: auto;
        scrollbar-width: none;

        .timeline__cards {
            gap: 116px;

            .timeline__card {
                padding: 31.08px 31.08px 45.58px 31.08px;
                max-width: 517.71px;
                margin: 0px auto;
                border-radius: 15.34px;
                box-shadow: 0px 7.67px 16.3px 0px #003B6B1A;

                @media screen and (max-width:1199px) {
                    margin: 0px 10px;
                }

                h3 {
                    font-family: $font-inter-bold;
                    font-size: 23.31px;
                    line-height: 31.08px;
                    letter-spacing: 0px;
                }

                p {
                    font-family:$font-inter-regular;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: 0%;
                }

                img {
                    margin-bottom: 30px;
                }

                &.custom-margin {
                    margin-bottom: 80px;
                }
            }
        }

    }


}