@font-face {
    font-family: 'Inter';
    src: url('../../new-font-tryaccelerate/Inter18pt-Regular.eot');

    src: url('../../new-font-tryaccelerate/Inter18pt-Regular.woff2') format('woff2'),
        url('../../new-font-tryaccelerate/Inter18pt-Regular.svg') format('svg'),
        url('../../new-font-tryaccelerate/Inter18pt-Regular.ttf') format('truetype'),
        url('../../new-font-tryaccelerate/Inter18pt-Regular.woff') format('woff');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Inter-medium';
    src: url('../../new-font-tryaccelerate/Inter18pt-Medium.eot');
    src: url('../../new-font-tryaccelerate/Inter18pt-Medium.woff2') format('woff2'),
        url('../../new-font-tryaccelerate/Inter18pt-Medium.svg') format('svg'),
        url('../../new-font-tryaccelerate/Inter18pt-Medium.ttf') format('ttf'),
        url('../../new-font-tryaccelerate/Inter18pt-Medium.woff') format('woff');

    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-semibold';
    src: url('../../new-font-tryaccelerate/Inter18pt-SemiBold.eot');
    src: url('../../new-font-tryaccelerate/Inter18pt-SemiBold.woff2') format('woff2'),
        url('../../new-font-tryaccelerate/Inter18pt-SemiBold.svg') format('svg'),
        url('../../new-font-tryaccelerate/Inter18pt-SemiBold.ttf') format('ttf'),
        url('../../new-font-tryaccelerate/Inter18pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-bold';
    src: url('../../new-font-tryaccelerate/Inter18pt-Bold.eot');
    src: url('../../new-font-tryaccelerate/Inter18pt-Bold.woff2') format('woff2'),
        url('../../new-font-tryaccelerate/Inter18pt-Bold.svg') format('svg'),
        url('../../new-font-tryaccelerate/Inter18pt-Bold.ttf') format('ttf'),
        url('../../new-font-tryaccelerate/Inter18pt-Bold.woff') format('woff');

    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-extrabold';
    src: url('../../new-font-tryaccelerate/Inter18pt-ExtraBold.eot');
    src: url('../../new-font-tryaccelerate/Inter18pt-ExtraBold.woff2') format('woff2'),
        url('../../new-font-tryaccelerate/Inter18pt-ExtraBold.svg') format('svg'),
        url('../../new-font-tryaccelerate/Inter18pt-ExtraBold.ttf') format('ttf'),
        url('../../new-font-tryaccelerate/Inter18pt-ExtraBold.woff') format('woff');

    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../poppins-font/Poppins-Regular.eot');

    src: url('../../poppins-font/Poppins-Regular.woff2') format('woff2'),
        url('../../poppins-font/Poppins-Regular.svg') format('svg'),
        url('../../poppins-font/Poppins-Regular.ttf') format('truetype'),
        url('../../poppins-font/Poppins-Regular.woff') format('woff');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-medium';
    src: url('../../poppins-font/Poppins-Medium.eot');

    src: url('../../poppins-font/Poppins-Medium.woff2') format('woff2'),
        url('../../poppins-font/Poppins-Medium.svg') format('svg'),
        url('../../poppins-font/Poppins-Medium.ttf') format('truetype'),
        url('../../poppins-font/Poppins-Medium.woff') format('woff');

    font-weight: 500;
    font-style: normal;
    font-display: swap;
}