$color-primary:#0094FF;
$text-color:#333333;
$white-color:#FFFFFF;
$black-color:#000000;

//Fonts 
$font-inter-regular:"Inter";
$font-inter-medium:"Inter-medium";
$font-inter-semibold:"Inter-semibold";
$font-inter-bold:"Inter-bold";
$font-inter-extrabold:"Inter-extrabold";
$font-poppins-regular:"Poppins";
$font-poppins-medium:"Poppins-medium";
$font-roboto-regular:"Roboto";
$font-Montserrat-bold:"Montserrat-bold";



$font-heading:32px;
$font-subheading:24px;
